body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #F0F8FF;
}

.calculator {
    background-color: #fff;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.text-center {
    text-align: center;
}

.display {
    margin-bottom: 10px;
}

.input {
    width: 100%;
    padding: 10px;
    font-size: 24px;
    text-align: right;
    border: none;
    outline: none;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.button {
    background-color: #D0F0C0;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.button:hover {
    background-color: #f0f0f0;
}

.operator {
    background-color: #CCCCFF;
}

.clear {
    background-color: #FF0800;
    color: white;
}

.equals {
    background-color: #138808;
    color: white;
}

h1 {
    font-size: 36px; /* Adjust the font size as needed */
    font-weight: bold;
    color: #333; /* Change the color to your preference */
    text-align: center; /* Center the text horizontally */
}
